/**
 * @format
 * @flow
 */

import React from 'react';

import type {PropsType} from './types';
import {} from './Styled';

const {{pascalCase name}} = (props: PropsType): React$Node => {
  return <></>;
};

export default {{pascalCase name}};
