## {{pascalCase name}}
{{pascalCase name}} component.

# Usage
```js
import {{pascalCase name}} from '@{{folder}}/{{pascalCase name}}';

# Props
```
Prop                      | Type                  | Required                | Description
--------------------------|-----------------------|-------------------------|--------------------------
testID                    | string                | true                    | The testID prop
accessibilityLabel        | string                | true                    | The accessibilityLabel prop
