import React from 'react';
import {render} from '@testing-library/react-native';
import {{pascalCase name}} from '../{{pascalCase name}}';
import {ThemeProvider} from 'styled-components/native';
import {DARK_THEME} from '@utils/constants';

describe('{{pascalCase name}}', () => {
  it('Should work as expected', () => {
    const all = render(
      <ThemeProvider theme={DARK_THEME}>
        <{{pascalCase name}} />
      </ThemeProvider>,
    );
    expect(all.toJSON()).toMatchSnapshot();
  });
});
